.add-list {


  &_popup {
    width: 220px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 18px;
    position: relative;
    top: -25px;
    left: 10px;


    img {
      width: 16px;
    }


    .button {
      width: 100%;
      margin-top: 15px;
    }

    &-close-btn {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }

    &-colors {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
    }


    .badge {
      width: 20px;
      height: 20px;
      cursor: pointer;
      border: 2px solid transparent;


      &.active{
        border: 2px solid #525252 ;
      }

    }






  }
}